<%= render "shared/navigation" %>

<% if user_signed_in? %> 
 <div class="font-bold"> Welcome <%= current_user.name %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete%> 
<% else %>
  <%= button_to "Sign in", new_user_session_path%> 
<% end %>