<nav>
  <ul>
    <%= link_to "Foods", foods_path %>
    <%= link_to "Recipes", recipes_path %>
    <%= link_to "Public Recipes", public_recipes_path %>
    <%= link_to "General shopping list", nil %>
  </ul>
</nav>