<h1>Editing food</h1>

<div class="form-container">
  <%= render "form", food: @food %>
</div>

<br />

<div class="button-container">
  <%= link_to "Show this food", @food %>
  <%= link_to "Back to foods", foods_path %>
</div>