<p class="success-message"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <div class="food-item">
      <%= render food %>
      <p>
        <%= link_to "Show this food", food %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New food", new_food_path, class: "new-food-link" %>